<h1 id="title">“What worries you masters you.”</h1>

<div class="postContainer">
    {{#if quotes}}
    {{#each quotes}}
    {{>quote}}
    {{/each}}
    {{else}}
    <h1>Ther are no quotes</h1>
    {{/if}}
</div>