<div id="formContainer">
    <h1>Share your favorite Quote</h1>

    <form action="/publish" method="POST">
        <label for="text">Quote here</label>
        <textarea type="text" name="text" id="text" required></textarea>
        <label for="author">Author</label>
        <input type="text" name="author" id="auothor" required>
        <button>Submit</button>
    </form>
</div>