html{
    margin:0;
    padding: 0;
    height: 100vh;
    
}
body{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    background-color: lightgrey;
    margin-bottom:20px;
    height: 50px;
}

.nav{
    width: 40%;
}

.nav-ul{
    display: flex;
    justify-content: space-around;
}